<a href="https://colab.research.google.com/github/alexsandro-matias/covid-atualizado/blob/main/covid.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import plotly.express as px

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/wcota/covid19br/master/cases-brazil-states.csv")

In [10]:
state = 'PE'

df = df[df["state"] == state]

df

,epi_week,date,country,state,city,newDeaths,deaths,newCases,totalCases,deathsMS,...,tests,tests_per_100k_inhabitants,vaccinated,vaccinated_per_100_inhabitants,vaccinated_second,vaccinated_second_per_100_inhabitants,vaccinated_single,vaccinated_single_per_100_inhabitants,vaccinated_third,vaccinated_third_per_100_inhabitants
72,11,2020-03-12,Brazil,PE,TOTAL,0,0,2,2,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,11,2020-03-13,Brazil,PE,TOTAL,0,0,0,2,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103,11,2020-03-14,Brazil,PE,TOTAL,0,0,5,7,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,12,2020-03-15,Brazil,PE,TOTAL,0,0,1,8,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138,12,2020-03-16,Brazil,PE,TOTAL,0,0,0,8,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24473,231,2022-08-03,Brazil,PE,TOTAL,4,22057,1071,1031355,22057,...,3390139.0,35472.57313,8388502.0,87.77273,7457791.0,78.03427,192926.0,2.01867,4870219.0,50.95933
24501,231,2022-08-04,Brazil,PE,TOTAL,6,22063,1233,1032588,22063,...,3390139.0,35472.57313,8388502.0,87.77273,7457791.0,78.03427,192926.0,2.01867,4870219.0,50.95933
24529,231,2022-08-05,Brazil,PE,TOTAL,7,22070,1200,1033788,22070,...,3390139.0,35472.57313,8402032.0,87.91430,7475050.0,78.21486,192926.0,2.01867,5179924.0,54.19991
24557,231,2022-08-06,Brazil,PE,TOTAL,5,22075,911,1034699,22075,...,3390139.0,35472.57313,8402735.0,87.92166,7475765.0,78.22234,192926.0,2.01867,5179924.0,54.19991
24585,232,2022-08-07,Brazil,PE,TOTAL,4,22079,271,1034970,22079,...,3390139.0,35472.57313,8403303.0,87.92760,7475982.0,78.22462,192926.0,2.01867,5179924.0,54.19991